# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# server
aws/
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# schema
schema copy.sql

# Readme
README.md
lib/utils/s3-test-runner.js
lib/utils/s3-test-runner.ts
lib/utils/s3-test.js
lib/utils/s3-test.ts
test-s3.js
